<%include ../partials/header.ejs%>

<div class="container mx-auto  " style="text-align: center; margin-top: 12%;background: #d5dde0;padding-left: 0px;padding-right: 0px;margin-left: 1px;margin-right: 0px">
	<h1>Edit </h1>
<br>
<div style="width:30% ;margin:auto;">
	
</div>
<br>
<a href="#"><button class="btn " style="background: #b4b8ab">back</button></a>
</div>
<%include ../partials/footer.ejs%>
