<%include ../partials/header.ejs%>
<div class="container">
	<div class="jumbotron" style="text-align: center">
		<h1 class="display-3"></h1>
		<h3></h3>
		<br>
	</div>
<a href="/hospital/new">Add New Hospital</a>
</div>
<%include ../partials/footer.ejs%>
	